<!DOCTYPE html>
<html>
  <head>
    <title>About - Ninernet</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="create_post.html">Create Post</a></li>
        <li><a href="login.html">Log in</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </nav>
    <h1>Welcome to Ninernet</h1>
    <p>Your one-stop-shop for all things student resources!</p>
    <p>We are a team of dedicated educators and experts who understand the challenges that students face on a daily basis. Our mission is to provide high-quality and accessible information, tools, and resources to help students succeed academically and personally. We believe that with the right support and resources, every student has the potential to achieve their goals.</p>
    <p>Browse our site, explore our offerings, and discover how we can help you on your journey to success. Here is a sneak peek of what you can find on our website. Whether you're looking for study tips, career advice, or ways to manage stress, we've got you covered.</p>
    <h2>Our Offerings</h2>
    <ul>
      <li>Study Tips</li>
      <li>Career Advice</li>
      <li>Professional Guidance</li>
      <li>Tips on navigating websites such as <a href="https://www.indeed.com/">Indeed</a></li>
    </ul>
  </body>
</html>
